body{
    background-color:lightgray;
    font-family: 'Courier New', Courier, monospace;
}

/*button style*/
button{
    
    height: 150px;
    width: 100%;
    background-color: #219ebc;
    font-size: xxx-large;
    text-align: center;
    border-radius: 25px;
}
/*button when hoved over*/
button:hover{
    background-color: #fb8500;
    cursor: pointer;
}

.gridMaster{
    background-color: #8ecae6;
    /*centers grid*/
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    border-radius: 25px;
}
.keys{
    display: grid;
    /*Creates 3x5 grid*/
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px 150px;
    
}
#OutPut{
    width: 100%;
    font-size:xx-large;
    color: #ffb703;
    background-color: #023047;
    border-radius: 10px;
}

#equal{
    width: 280px;
    grid-column: 2 / span 2;
    grid-row: 5;
}